numpy==1.24.2
pandas==1.5.3
scipy==1.10.1
scikit-learn==1.2.2
lmdb==1.4.0
fasttext==0.9.2
configargparse==1.5.3
pyarrow==11.0.0
matplotlib==3.7.1
seaborn==0.12.2
openTSNE==0.7.1
tqdm==4.65.0
librosa==0.10.0

# If you have a NVIDIA GPU capable of using CUDA, no changes are required. Otherwise change commented line to CPU.
--extra-index-url https://download.pytorch.org/whl/cu117
# --extra-index-url https://download.pytorch.org/whl/cpu
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1